body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    place-items: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}


.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
select,
input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    padding: 0;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80%;
}

.image-preview img {
    max-width: 80%;
    max-height: 80%;
    object-fit:cover;
}


.appointments-list {
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
}

.appointments-list h2 {
    margin-bottom: 20px;
}

.appointments-list ul {
    list-style-type: none;
    padding: 0;
}

.appointments-list li {
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
